@import 'reset';
@import 'fluidity';
@import 'gr8/main';

$black: #000;
$white: #fcfcfc;
$accent: #f7de00;

@import 'util';
@import 'type';

@import 'modules/blazy';

@import 'components/nav';
@import 'components/drawer';
@import 'components/image-container';
@import 'components/index';

body {
  color: $black;
  background: $white;
}

a {
  color: $black;
}

.invert {
  background: $black;
  color: $white;
  a {
    color: $white;
  }
}
